
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
<div>   
    <div>
        <form method="post" action="Chat">
            <div>
                <input id="email" type="email" name="email" placeholder="Type your email" />
                <input type="submit" id="login" value="Login">
            </div>
        </form>
    </div>
</div> 